html, #root {
    background-color: rgb(127, 140, 255);
}



.apptitle {
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}