body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.marker{
  transform: translate(-50%, -100%);
}
.marker.red path {
  fill: red;
}
.marker.blue path {
  fill: blue;
}
.popup{
  width: 40vw;
  padding: 1rem;
}
.newLocationForm label,
.newLocationForm input,
.newLocationForm textarea,
.newLocationForm button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}